<div th:fragment="contentHomeVersion1" class="container marketing pt-5">
  <div class="row mt-5">
    <h1>Последние 10 добавленных книг</h1>
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://catherineasquithgallery.com/uploads/posts/2021-02/1614532683_2-p-kniga-na-belom-fone-2.png" alt="">
      <h2 class="fw-normal"><ya-tr-span data-index="12-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Heading" data-translation="Название книги" data-ch="0" data-type="trSpan" data-selected="false">Название книги</ya-tr-span></h2>
      <p><ya-tr-span data-index="13-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Some representative placeholder content for the three columns of text below the carousel. " data-translation="Некоторые репрезентативные заполнители для трех столбцов текста под каруселью. " data-ch="0" data-type="trSpan">Описание книги Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto beatae dolorem ipsam quisquam. Animi, doloribus possimus? Dolorem, illo sed.  </ya-tr-span><ya-tr-span data-index="13-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="This is the first column." data-translation="Это первый столбец." data-ch="0" data-type="trSpan">Это первый столбец.</ya-tr-span></p>
      <p><a href="#" class="icon-link gap-1 icon-link-hover stretched-link"><ya-tr-span data-index="23-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Continue reading " data-translation=" Продолжить чтение " data-ch="0" data-type="trSpan" style="visibility: initial !important;"> Автор книги  </ya-tr-span><svg class="bi"><use xlink:href="#chevron-right"></use></svg></a></p>
      <p><a class="btn btn-secondary" href="#"><ya-tr-span data-index="14-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="View details »" data-translation="Просмотреть информацию о книге»" data-ch="0" data-type="trSpan">Просмотреть информацию о книге »</ya-tr-span></a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://catherineasquithgallery.com/uploads/posts/2021-02/1614532683_2-p-kniga-na-belom-fone-2.png" alt="">
      <h2 class="fw-normal"><ya-tr-span data-index="12-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Heading" data-translation="Название книги" data-ch="0" data-type="trSpan" data-selected="false">Название книги</ya-tr-span></h2>
      <p><ya-tr-span data-index="13-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Some representative placeholder content for the three columns of text below the carousel. " data-translation="Некоторые репрезентативные заполнители для трех столбцов текста под каруселью. " data-ch="0" data-type="trSpan">Описание книги Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto beatae dolorem ipsam quisquam. Animi, doloribus possimus? Dolorem, illo sed.  </ya-tr-span><ya-tr-span data-index="13-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="This is the first column." data-translation="Это первый столбец." data-ch="0" data-type="trSpan">Это первый столбец.</ya-tr-span></p>
      <p><a href="#" class="icon-link gap-1 icon-link-hover stretched-link"><ya-tr-span data-index="23-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Continue reading " data-translation=" Продолжить чтение " data-ch="0" data-type="trSpan" style="visibility: initial !important;"> Автор книги  </ya-tr-span><svg class="bi"><use xlink:href="#chevron-right"></use></svg></a></p>
      <p><a class="btn btn-secondary" href="#"><ya-tr-span data-index="14-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="View details »" data-translation="Просмотреть информацию о книге»" data-ch="0" data-type="trSpan">Просмотреть информацию о книге »</ya-tr-span></a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://catherineasquithgallery.com/uploads/posts/2021-02/1614532683_2-p-kniga-na-belom-fone-2.png" alt="">
      <h2 class="fw-normal"><ya-tr-span data-index="12-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Heading" data-translation="Название книги" data-ch="0" data-type="trSpan" data-selected="false">Название книги</ya-tr-span></h2>
      <p><ya-tr-span data-index="13-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Some representative placeholder content for the three columns of text below the carousel. " data-translation="Некоторые репрезентативные заполнители для трех столбцов текста под каруселью. " data-ch="0" data-type="trSpan">Описание книги Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto beatae dolorem ipsam quisquam. Animi, doloribus possimus? Dolorem, illo sed.  </ya-tr-span><ya-tr-span data-index="13-1" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="This is the first column." data-translation="Это первый столбец." data-ch="0" data-type="trSpan">Это первый столбец.</ya-tr-span></p>
      <p><a href="#" class="icon-link gap-1 icon-link-hover stretched-link"><ya-tr-span data-index="23-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Continue reading " data-translation=" Продолжить чтение " data-ch="0" data-type="trSpan" style="visibility: initial !important;"> Автор книги  </ya-tr-span><svg class="bi"><use xlink:href="#chevron-right"></use></svg></a></p>
      <p><a class="btn btn-secondary" href="#"><ya-tr-span data-index="14-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="View details »" data-translation="Просмотреть информацию о книге»" data-ch="0" data-type="trSpan">Просмотреть информацию о книге »</ya-tr-span></a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>

<div th:fragment="contentHomeVersion2">
  <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic"><ya-tr-span data-index="16-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Title of a longer featured blog post" data-translation="Название более длинного поста в блоге" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Название более длинного поста в блоге</ya-tr-span></h1>
        <p class="lead my-3"><ya-tr-span data-index="17-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents." data-translation="Несколько строк текста, которые формируют lede, быстро и эффективно информируя новых читателей о том, что наиболее интересно в содержании этого поста." data-ch="0" data-type="trSpan" style="visibility: initial !important;">Несколько строк текста, которые формируют lede, быстро и эффективно информируя новых читателей о том, что наиболее интересно в содержании этого поста.</ya-tr-span></p>
        <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold"><ya-tr-span data-index="18-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Continue reading..." data-translation="Читать далее..." data-ch="0" data-type="trSpan" style="visibility: initial !important;">Читать далее...</ya-tr-span></a></p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis"><ya-tr-span data-index="19-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="World" data-translation="Мир" data-ch="1" data-type="trSpan" style="visibility: initial !important;">Мир</ya-tr-span></strong>
            <h3 class="mb-0"><ya-tr-span data-index="20-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Featured post" data-translation="Избранный пост" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Избранный пост</ya-tr-span></h3>
            <div class="mb-1 text-body-secondary"><ya-tr-span data-index="21-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Nov 12" data-translation="12 ноября" data-ch="0" data-type="trSpan" style="visibility: initial !important;">12 ноября</ya-tr-span></div>
            <p class="card-text mb-auto"><ya-tr-span data-index="22-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="This is a wider card with supporting text below as a natural lead-in to additional content." data-translation="Это более широкая карточка со вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту." data-ch="0" data-type="trSpan" style="visibility: initial !important;">Это более широкая карточка со вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.</ya-tr-span></p>
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link"><ya-tr-span data-index="23-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Continue reading " data-translation=" Продолжить чтение " data-ch="0" data-type="trSpan" style="visibility: initial !important;">  Продолжить чтение  </ya-tr-span><svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success-emphasis"><ya-tr-span data-index="24-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Design" data-translation="Дизайн" data-ch="1" data-type="trSpan" style="visibility: initial !important;">Дизайн</ya-tr-span></strong>
            <h3 class="mb-0"><ya-tr-span data-index="25-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Post title" data-translation="Название поста" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Название поста</ya-tr-span></h3>
            <div class="mb-1 text-body-secondary"><ya-tr-span data-index="26-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Nov 11" data-translation="11 ноября" data-ch="0" data-type="trSpan" style="visibility: initial !important;">11 ноября</ya-tr-span></div>
            <p class="mb-auto"><ya-tr-span data-index="27-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="This is a wider card with supporting text below as a natural lead-in to additional content." data-translation="Это более широкая карточка со вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту." data-ch="1" data-type="trSpan" style="visibility: initial !important;">Это более широкая карточка со вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.</ya-tr-span></p>
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link"><ya-tr-span data-index="28-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Continue reading " data-translation=" Продолжить чтение " data-ch="1" data-type="trSpan" style="visibility: initial !important;">  Продолжить чтение  </ya-tr-span><svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div th:fragment="contentHomeVersion3">
  <h1 class="text-center">Последние 10 добавленных книг</h1>
  <div class="container-fluid col-12 d-flex justify-content-center align-self-start row">
    <div class="col-12 col-md-6 row">
      <div class="col-12 col-sm-4 col-md-12 col-lg-12 col-xl-4 d-flex justify-content-center my-3"><a href="#"><img src="https://ui.pnzgu.ru/files/vestnik.pnzgu.ru/fmn.jpg" width="100" height="143" alt="" /></a></div>
      <div class="col-12 col-sm-8 col-md-12 col-lg-12 col-xl-8 d-flex align-self-center text-center text-sm-left text-md-center text-xl-left">ISSN: 2072-3040<br />
        Свидетельство о регистрации ПИ № ФС77-26984 от 19.01.2007 г.<br />
        Периодичность: 4 раза в год.<br />
        Входит в Перечень ВАК.<br />
        Индексируется в РИНЦ, EBSCO.</div>
    </div>
    <div class="col-12 col-md-6 row">
      <div class="col-12 col-sm-4 col-md-12 col-lg-12 col-xl-4 d-flex justify-content-center my-3"><a href="#"><img src="https://ui.pnzgu.ru/files/vestnik.pnzgu.ru/tn.jpg" width="100" height="143" alt="" /></a></div>
      <div class="col-12 col-sm-8 col-md-12 col-lg-12 col-xl-8 d-flex align-self-center text-center text-sm-left text-md-center text-xl-left">ISSN: 2072-3059<br />
        Свидетельство о регистрации ПИ № ФС77-26983 от 19.01.2007 г.<br />
        Периодичность: 4 раза в год.<br />
        Входит в Перечень ВАК. <br />
        Индексируется в РИНЦ, EBSCO.</div>
    </div>
  </div>
</div>