<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:insert="blocks/head :: head"></div>
<body>
<header th:insert="blocks/header :: header" data-bs-theme="dark"></header>
<div class="container mt-5 mb-5 pt-5 pb-5">
    <h1 class="text-center">Добавление книги</h1>
    <form action="/books/add" method="post">
        <input type="text" name="title" placeholder="Введите название книги" class="form-control"></br>
        <textarea name="annotation" placeholder="Введите аннотацию книги" class="form-control"></textarea></br>
        <textarea name="description" placeholder="Введите описание книги" class="form-control"></textarea></br>
        <button type="submit" class="btn btn-success">Добавить книгу</button>
    </form>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>