<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:insert="blocks/head :: head"></div>
<body>
    <header th:insert="blocks/header :: header" data-bs-theme="dark"></header>
    <!--    <div th:insert="content/contentHome :: contentHomeVersion3" class="container mt-5 mb-5 pt-5 pb-5">-->
    <div class="container mt-5 mb-5 pt-5 pb-5">
        <h1 class="text-center">Последние 10 добавленных книг</h1>
        <div th:each="el : ${books}" class="container-fluid col-12 d-flex justify-content-center align-self-start row">
            <div class="col-12 col-md-6 row alert alert-info mt-2">
                <h3 th:text="${el.title}"></h3>
                <p th:text="${el.annotation}" class="m-2"></p>
                <a th:href="'/books/' + ${el.id}" class="btn btn-warning my-1">Подробнее о книге</a>
                <a th:href="'/authors/' + ${el.author}" class="btn btn-warning my-1">Автор</a>
            </div>
        </div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</body>
</html>